// Blocks SCSS
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
    gap: 14px;
}

.loader {
    color: #0d0e0f;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    @include mobile {
        font-size: 14px;
    }
}

 
.logo-block {
    position: absolute;
        top: 40px;
        left: 40px;
        width: 160px;
        height: 80px;
        z-index: 20;
        @include tablet {
            width: 140px;
        }
        @include mobile {
            width: 138px;
            top: 24px;
            left: 14px;
        }
        & a {
            display: block;
        }
}
 

.scroll-section {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    height: calc(var(--vh, 1vh) * 100);
    align-items: flex-end;
    padding: 30px;
    top: 0;
    left: 0;
    @include mobile {
        padding: 10px;
    }
    & .scroll {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        font-weight: 400;
        @include tablet {
            font-size: 14px;
        }
        @include mobile {
            text-align: center;
            line-height: 1.3;
            font-size: 13px;
            max-width: 140px;
        }
        & .mouse-player {
            width: 30px;
            display: block;
            @include mobile {
                margin-top: 10px;
                width: 35px;
            }
            & .desktop {
                display: block;
                @include tablet {
                    display: none;
                }
            }
            & .mobile {
                display: none;
                @include tablet {
                    display: block;
                }
            }
        }
    }
}

.banner-section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    flex-direction: column;
    gap: 20px;
    will-change: transform;
    @include mobile {
        padding: 0 20px;
    }
    & .banner-text {
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        @include mobile {
            font-size: 14px;
            font-weight: 500;
            margin-top: 180px;
            padding: 0 30px;
            line-height: 1.8;
        }
    }
    & .block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
        position: relative;
        margin-top: -100px;
        @include tablet {
            gap: 5px;
        }
        @include mobile {
            gap: 0;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 280px;
            height: 163px;
            margin-top: -50px;
        }
        & .grow-image {
            width: 1300px;
            will-change: transform;
            & img {
                width: 100%;
            }
            @include desktop {
                width: 1130px;
            }
            @include height {
                width: 912px;
            }
            @include laptop {
                width: 912px;
            }
            @include tablet {
                width: 668px;
            }
            @include mobile {
                width: 280px;
                display: none;
            }
        }
        & .grow-image-xs {
            display: none;
            width: 280px;
            @include mobile {
                display: block;
            }
        }
        & .text-first,
        & .text-second {
            font-size: 50px;
            font-weight: 900;
            line-height: 72px;
            color: #0d0e0f;
            text-transform: uppercase;
            display: block;
            @include tablet {
                font-size: 30px;
            }
            @include mobile {
                font-size: 13px;
                line-height: 2.6;
            }
        }
        & .text-second {
            margin-left: auto;
        }
        & .thumb {
            will-change: transform;
            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        & .dune-thumb {
            position: absolute;
            width: 293px;
            height: 113px;
            margin-left: -338px;
            margin-top: -200px;
            left: 50%;
            top: 50%;
            object-fit: cover;
            @include desktop {
                width: 253px;
                height: 97px;
                margin-left: -291px;
                margin-top: -171px;
            }
            @include height {
                width: 205px;
                height: 79px;
                margin-left: -237px;
                margin-top: -139px;
            }
            @include laptop {
                width: 205px;
                height: 79px;
                margin-left: -237px;
                margin-top: -139px;
            }
            @include tablet {
                width: 149px;
                height: 59px;
                margin-left: -173px;
                margin-top: -102px;
            }
            @include mobile {
                display: block;
                width: 63px;
                height: 25px;
                margin-left: -73px;
                margin-top: -46px;
            }
        }
        & .baloon-thumb {
            position: absolute;
            width: 293px;
            height: 113px;
            margin-left: -338px;
            margin-top: -57px;
            left: 50%;
            top: 50%;
            object-fit: cover;
            @include desktop {
                width: 253px;
                height: 97px;
                margin-left: -291px;
                margin-top: -49px;
            }
            @include height {
                width: 205px;
                height: 79px;
                margin-left: -237px;
                margin-top: -40px;
            }
            @include laptop {
                width: 205px;
                height: 79px;
                margin-left: -237px;
                margin-top: -40px;
            }
            @include tablet {
                width: 149px;
                height: 59px;
                margin-left: -173px;
                margin-top: -30px;
            }
            @include mobile {
                width: 63px;
                height: 25px;
                margin-left: -73px;
                margin-top: -15px;
            }
        }
        & .cabanna-thumb {
            position: absolute;
            width: 293px;
            height: 113px;
            margin-left: -338px;
            margin-top: 87px;
            left: 50%;
            top: 50%;
            object-fit: cover;
            @include desktop {
                width: 253px;
                height: 97px;
                margin-left: -291px;
                margin-top: 74px;
            }
            @include height {
                width: 205px;
                height: 79px;
                margin-left: -237px;
                margin-top: 61px;
            }
            @include laptop {
                width: 205px;
                height: 79px;
                margin-left: -237px;
                margin-top: 61px;
            }
            @include tablet {
                width: 149px;
                height: 59px;
                margin-left: -173px;
                margin-top: 44px;
            }
            @include mobile {
                width: 63px;
                height: 25px;
                margin-left: -73px;
                margin-top: 15px;
            }
        }
    }

}

.dune-section {
    width: 100vw;
    height: 120vh;
    overflow: hidden;
    top: 0;
    left: 0;
    @include mobile {
        height: 100vh;
    }
    & .bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        position: absolute;
        z-index: -1;
    }
    & .driver {
        position: absolute;
        bottom: -550px;
        width: 2200px;
        max-width: none;
        left: 50%;
        transform: translateX(-50%);
        z-index: 4;
        @include laptop {
            bottom: -250px;
            width: 1600px;
        }
        @include mobile {
            bottom: -40px;
            width: 990px;
        }
    }
    & .car {
        position: absolute;
        bottom: 120px;
        width: 500px;
        margin-left: -500px;
        max-width: none;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        @include laptop {
            bottom: 190px;
            width: 420px;
            margin-left: -270px;
        }
        @include mobile {
            bottom: 220px;
            width: 310px;
            margin-left: -90px;
        }
    }
    .text {
        transform: translateY(-50%);
        top: 50%;
        // margin-top: 0;
        position: absolute;
        left: 100%;
        // margin-top: -110px;
        @include tablet {
            z-index: 10;
        }
        // @include mobile {
        //     margin-top: -110px;
        // }
    }
}

.next {
    font-size: 126px;
    white-space: nowrap;
    font-weight: 800;
    color: $black;
    @include laptop {
        font-size: 80px;
    }
    @include mobile {
        font-size: 30px;
    }
}

.text-section {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 90;
    left: 100%;
    // opacity: 0;
    // visibility: hidden;
    // background-color: $white;
    & .container {
        height: 100%;
    }
    & .block {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        position: relative;
        gap: 20px;
        & > img {
            // opacity: 0.4;
            filter: brightness(100);
        }
        & .heritage {
            @include tablet {
                width: 100px;
            }
        }
        & .soar-img {
            @include tablet {
                width: 160px;
            }
        }
        & p {
            max-width: 700px;
        }
        & .btn {
            margin-top: 10px;
        }
    }
}

.cabana-section {
    width: 100vw;
    height: 120vh;
    top: 0;
    left: 0;
    overflow: hidden;
    @include mobile {
        height: 100vh;
    }
    & .cabana-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(3);
        @include mobile {
            transform: scale(3);
        }
    }
    & .cabana-sit {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) scale(3);
        width: 490px;
        margin-left: 45px;
        z-index: 10;
        margin-top: -103px;
        filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.3));
        @include mobile {
            margin-left: 0;
            margin-top: -50px;
            transform: translateX(-50%) scale(3);
        }
    }
    & .text {
        transform: translateY(-50%);
        top: 50%;
        // margin-top: -50px;
        position: absolute;
        left: 100%;
        // @include mobile {
        //     margin-top: -20px;
        // }
    }
}

.balloon-section {
    width: 100vw;
    height: 120vh;
    top: 0;
    left: 0;
    overflow: hidden;
    @include mobile {
        height: 100vh;
    }
    & .bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.1);
        filter: blur(3px);
        will-change: filter;
    }
    & .balloon-lg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1.1);
        width: 230px;
        z-index: 10;
        margin-top: -95px;
        margin-left: 440px;
        z-index: 20;
        filter: blur(3px);
        will-change: filter;
        @include mobile {
            margin-left: 160px;
        }
    }
    & .balloon-sm {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(1.1);
        z-index: 10;
        width: 100px;
        z-index: 10;
        margin-top: -35px;
        margin-left: 310px;
        filter: blur(3px);
        will-change: filter;
        @include mobile {
            margin-left: 20px;
        }
    }
    & .people {
        position: absolute;
        width: 1540px;
        margin-left: 0;
        left: 0;
        bottom: -70px;
        z-index: 20;
        @include mobile {
            width: 930px;
            max-width: none;
            left: -150px;
            bottom: 0;
        }
    }
    & .text {
        transform: translateY(-50%);
        top: 50%;
        // margin-top: -190px;
        position: absolute;
        left: 100%;
        // @include mobile {
        //     margin-top: -180px;
        // }
    }
}

.dubai-section {
    width: 100vw;
    height: 120vh;
    top: 0;
    left: 0;
    overflow: hidden;
    @include mobile {
        height: 100vh;
    }
    & .bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.1);
        filter: blur(3px);
        will-change: filter;
    }
    & .people {
        position: absolute;
        width: 100vw;
        margin-left: 0;
        z-index: 10;
        left: 0;
        top: 0;
        z-index: 10;
        height: 100vh;
        object-fit: cover;
        @include mobile {
            width: 1290px;
            max-width: none;
            left: -250px;
        }
    }
    & .text {
        transform: translateY(-50%);
        top: 50%;
        // margin-top: -130px;
        position: absolute;
        left: 100%;
        // @include mobile {
        //     margin-top: -20px;
        // }
    }
}

.boat-section {
    width: 100vw;
    height: 120vh;
    top: 0;
    left: 0;
    overflow: hidden;
    @include mobile {
        height: 100vh;
    }
    & .bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include mobile {
            object-position: 32%;
        }
    }
    & .wave-left {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 1000px;
        margin-left: -300px;
        z-index: 20;
        @include mobile {
            margin-left: 180px;
        }
    }
    & .wave-middle {
        position: absolute;
        left: 50%;
        bottom: -100px;
        transform: translateX(-50%);
        width: 1000px;
        margin-left: 50px;
        @include mobile {
            margin-left: 40px;
        }
    }
    & .wave-right {
        position: absolute;
        left: 50%;
        bottom: -100px;
        transform: translateX(-50%);
        z-index: 10;
        width: 1000px;
        z-index: 10;
        margin-left: 230px;
        @include mobile {
            margin-left: 40px;
        }
    }
    & .boat {
        position: absolute;
        width: 900px;
        margin-left: -150px;
        z-index: 10;
        right: 50%;
        transform: translateX(100%);
        bottom: -5px;
        z-index: 10;
        @include mobile {
            width: 880px;
            max-width: none;
        }
    }
    & .text {
        transform: translateY(-50%);
        top: 50%;
        // margin-top: -190px;
        position: absolute;
        left: 100%;
        // @include mobile {
        //     margin-top: -100px;
        // }
    }
}

.footer-section {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    & .container {
        position: relative;
        z-index: 30;
    }
    & .bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    & .strip {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        z-index: 20;
    }
    & .car {
        position: absolute;
        right: 0;
        bottom: 70px;
        width: 400px;
        @include mobile {
            bottom: 20px;
            width: 150px;
        }
    }
    & .block {
        width: 100%;
        height: 100vh;
        z-index: 10;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: center;
        padding-bottom: 200px;
        text-align: center;
        @include mobile {
            gap: 20px;
        }
        & .call-to-action {
            display: flex;
            align-items: center;
            gap: 50px;
            @include mobile {
                flex-direction: column;
                gap: 10px;
            }
            & a {
                color: $white;
                display: flex;
                align-items: center;
                gap: 8px;
                text-decoration: none;
            }
        }
        & .social {
            display: flex;
            align-items: center;
            gap: 50px;
            @include mobile {
                gap: 30px;
            }
            & a {
                width: 46px;
                height: 46px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $white;
                border-radius: 50%;
            }
        }
        & .logo {
            display: flex;
            align-items: flex-end;
            gap: 50px;
            @include mobile {
                gap: 20px;
            }
            & li {
                &:nth-child(4) img {
                    position: relative;
                    top: 8px;
                    filter: brightness(100);
                }
                &:nth-child(2) img {
                    position: relative;
                    top: 16px;
                }
            }
        }
        & h5 {
            font-weight: 400;
            color: #fff;
            font-size: 12px;
            position: absolute;
            bottom: 30px;
        }
        & h6 {
            font-weight: 400;
            color: $white;
            font-size: 16px;
            @include mobile {
                font-size: 14px;
            }
            & a {
                color: $white;
                text-decoration: $white;
            }
        }
    }
}

.intro-section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    @include tablet {
        height: auto;
    }
    @include mobile {
        height: 220px;
    }
    & video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include height {
            object-position: bottom;
        }
    }
}
.book-block {
    z-index: 200;
    position: fixed;
    right: 50px;
    // top: calc(var(--vh, 1vh) * 88);
    bottom: 50px;
    visibility: hidden;
    opacity: 0;
    @include height {
        right: 30px;
        bottom: 30px;
    }
    @include mobile {
        right: 30px;
        bottom: 30px;
    }
}

.book-modal {
    transform: scale(1.5);
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 300;
    opacity: 0;
    visibility: hidden;
    & .close-block {
        position: fixed;
        right: 0;
        bottom: 75px;
        z-index: 10;
        @include height {
            bottom: 40px;
        }
    }
    & .block {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        height: 100%;
        @include laptop {
            grid-template-columns: repeat(2, 1fr);
            overflow: auto;
        }
        @include mobile {
            grid-template-columns: 1fr;
        }
        & .item {
            display: flex;
            text-align: center;
            align-items: center;
            flex-direction: column;
            background-size: cover;
            align-items: center;
            padding: 40px;
            justify-content: center;
            color: $white;
            background-position: center center;
            & .content {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-direction: column;
                height: 400px;
                @include height {
                    height: 380px;
                }
                @include laptop {
                    height: auto;
                }
                & > img {
                    @include mobile {
                        transform: scale(0.7);
                    }
                }
            }

            & .img-1 {
                margin-bottom: -1px;
                @include mobile {
                    margin-bottom: -30px;
                }
            }
            & .img-2 {
                margin-bottom: 34px;
                @include mobile {
                    margin-bottom: 0;
                }
            }
            & .img-3 {
                margin-bottom: 12px;
                filter: brightness(100);
                @include mobile {
                    margin-bottom: -10px;
                }
            }
            & .img-4 {
                margin-bottom: 20px;
                @include mobile {
                    margin-bottom: -10px;
                }
            }
            & h5 {
                margin-bottom: 13px;
            }
            & p {
                font-size: 167x;
                line-height: 1.44;
                margin-bottom: 27px;
                min-height: 150px;
                @include mobile {
                    font-size: 16px;
                }
            }
        }
    }
}
