// Common SCSS
body {
    opacity: 0;
    transition: $link-transition;
    visibility: hidden;
    &.js-loaded {
        opacity: 1;
        visibility: visible;
    }
}

main {
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.hide-scroll {
    overflow: hidden;
    height: 100vh;
}

section {
    position: relative;
}
 