//  Button SCSS
.btn {
    cursor: pointer;
    font-family: $font-Poppins;
    border: none;
    transition: $link-transition;
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    flex-shrink: 0;
    & svg {
        flex-shrink: 0;
        & * {
            transition: $btn-transition;
        }
    }
    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
    &:active {
        transform: scale(0.95);
    }
}

 

.btn-primary {
    font-size: 20px;
    text-decoration: none;
    position: relative;
    padding: 14px 29px;
    border-radius: 0;
    color: $white;
    border: 1px solid $primary;
    background-color: $primary;
    overflow: hidden;
    gap: 10px;
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: alias;
    &::after {
        content: '';
        position: absolute;
        top: -50%;
        right: -50%;
        bottom: -50%;
        left: -150%;
        background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
        transform: rotateZ(60deg) translate(-5em, 7.5em);
        animation: shine 3s infinite;
    }
    &:hover {
        transform: scale(1.05);
        border: 1px solid #51B8E5;
        background-color: #51B8E5;
    }
    @include mobile {
        font-size: 16px;
    
    }
}
 

.btn-book {
    font-size: 20px;
	text-decoration: none;
	position: relative;
	padding: 14px 29px;
    font-family: $font-Poppins;
	border-radius: 0;
	overflow: hidden;
	grid-gap: 10px;
	gap: 10px;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all ease;
    
    &::after {
        content: '';
        position: absolute;
        top: -50%;
        right: -50%;
        bottom: -50%;
        left: -150%;
        background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, rgba(229, 172, 142, 0));
        transform: rotateZ(60deg) translate(-5em, 7.5em);
        animation: shine 3s infinite;
    }
    &:hover {
        transform: scale(1.05);
    }
    @include mobile {
        font-size: 16px;
        padding: 8px 30px;
        height: 60px;
    }
}

.btn-book-primary {
    color: #fff;
	background-color: #51B8E5;
    &:hover {
	    background-color: #f9a280;
    }
}

.btn-book-secondary {
    color: #fff;
    background-color: #29B7B0;
    &:hover {
        background-color: #51B8E5;
    }
}

.btn-book-close {
    color: #1B1B1B;
    background-color: rgba($white, 70%);
    &:hover {
        background-color: rgba($white, 100%);
    }
}


.btn-right {
    border-radius: 5px 0 0 5px;
}


 
.btn-circle {
    width: 127px;
    height: 127px;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    will-change: transform;
    transition: $link-transition;
    @include mobile {
        width: 100px;
        height: 100px;
    }
    &:hover {
        transform: scale(1.1);
    }
    
    & img:first-child {
        width: 32px;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
    }
    & img:nth-child(2) {
        will-change: transform;
        animation: rotate 10s linear infinite
    }
}